<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="../css/student_course.css" rel="stylesheet">
    <title>Chalkboard</title>
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="#">Recent</a>
                <a href="#">Assignments</a>
                <a href="#">Textbook</a>
                <a href="#">Video</a>
                <a href="#">Lecture</a>
            </div>
            <button>Leave</button>
            <div class="imgcontainer">
                <img src="../img/person icon.png" alt="Avatar" class="avatar">
            </div>
        </nav>
        <div>
            <h1>Assignments</h1>
        </div>
    </header>
</body>

</html>