<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chalkboard</title>
    <link rel="stylesheet" href="/css/professor_add_course.css">
</head>

<body>
    <div class="main">
        <form class="form-cont" action="/prof_adding_class" method="post">
            <div class="container">
                <h1 class="chalkboard">Chalkboard Professor</h1>
                <p class="error">
                    <%= valid %>
                </p>
                <p> Create Course</p>
                <div class="input-box">
                    <label></label>
                    <input type="text" placeholder="Enter Title" name="title">
                </div>
                <div class="input-box">
                    <label></label>
                    <input type="text" placeholder="Enter Description" name="desc">
                </div>
            </div>
            <button type="submit" class="add">Add</button>
        </form>
        <br>
        <form class="join" action="/join_class" method="post">
            <div class="container">
                <p class="error">
                    <%= coursevalid %>
                </p>
                <p> Join Course</p>
                <div class="input-box">
                    <label></label>
                    <input type="text" placeholder="Enter Code" name="code">
                </div>
            </div>
            <button type="submit" class="add">Join</button>
        </form>
        <form name="back" method="post" action="/back_professor">
            <button type="submit" class="cancel">Cancel</button>
        </form>
    </div>
</body>

</html>