<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chalkboard</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="/css/professor_course_nav.css" />
    <link rel="stylesheet" href="/css/admin_adminProfStuInfo.css" />
  </head>
  <body>
    <%- include('../partials/professor_header', {courseid}) %>
    <div class="info">
      <div class="title">
        <h1>Upcoming Assignment Due</h1>
      </div>
      <div class="info_items">
        <% if(assignment !=null) { assignment.forEach(function(assignment) { %>
          <div class="item">
            <div class="text">
              <%= assignment.title %>
            </div>
            <div class="text">Due Date: <%= assignment.duedate %>
            </div>
            <span>
              <%= assignment.description %>
            </span>
          </div>
          <% }) } %>
      </div>
    </div>
  </body>
</html>
