<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chalkboard</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="src/css/professor_course_nav.css">
</head>
<body>
    <%- include('../partials/professor_header') %>
    <p>Lessons Manager</p>
    <ul style="list-style-type: none">
        <li><a href="professor_lessonsAddRemove.html">Add/Remove Lessons</a></li>
        <li><a href="professor_lessonsResources.html">Lesson Resources</a></li>
    </ul>

</body>
</html>