<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chalkboard</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="src/css/professor_course_nav.css">
  <link rel="stylesheet" href="src/css/professor_lessonManager.css">

</head>
<body>
  <header>
    <nav>
      <div class="prof-nav">
        <div class="nav-1">
          <h1 class="chalkboard">Chalkboard Professor</h1>
        </div>
        <div class="nav-2">
          <div class="list">
            <a href="professor_coursePage.html">Recent</a>
          </div>
          <div class="list">
            <a href="professor_assignment.html">Assignment</a>
          </div>
          <div class="list">
            <a href="professor_textbook.html">TextBook</a>
          </div>
          <div class="list">
            <a href="professor_video.html">Video</a>
          </div>
          <div class="list">
            <a href="professor_lessons.html">Lessons</a>
          </div>
          <div class="list">
            <a href="professor_courseManger.html">Course Manager</a>
          </div>
        </div>
        <div class="nav-3">
          <div class="leave">
            <a href="professor_homePage.html">
              <button>Leave</button>
            </a>
          </div>
          <div class="imgcontainer">
            <img src="src/img/person-svgrepo-com.svg" alt="Avatar" class="avatar">
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="lesson">
    <div class="title">
        <h1>Lessons Manager</h1>
    </div>
    <div class="lesson-items">
        <form>
            <div class="lesson-post">
                <div class="enter">
                    <label for="assignment-title">Lesson Title</label>
                    <input placeholder="Enter Assignment title" class="lesson-title" name="lesson-title" type="text">
                    <lavel for="due-date">Lesson Date</lavel>
                    <input type="date" name="lesson-date" class="lesson-date">
                    <label for="assignment">Lesson Notes</label>
                    <textarea placeholder="Enter Lesson instructions" class="lesson-page" name="lesson" type="text"></textarea>
                </div>
                <div class="buttons">
                    <div class = "add-buttons">
                        <div class="add-answer">
                            <label for="answer-sheet">Lesson Materal: </label>
                            <input value="Add lesson Materal" name="lesson-sheet" type="file"></input>
                        </div>
                    </div>
                    <div class="enter-post">
                        <input value="Post" type="submit">
                    </div>
                </div>
            </div>
        </form>
        <div class = lesson-delete>
          <button class="delete" for="lesson">Delete Lesson</button>
      </div>
    </div>
</div>

</body>
</html>