<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chalkboard</title>
    <link rel="stylesheet" href ="/css/signup.css">
</head>

<body>
    <div class="main">
        <form name="signupForm" action="/sign_up" method="post" class = "form-cont">
            <h1>Sign Up for Chalkboard</h1>
            <p>Please fill in this form to create an account.</p>
            <div class="input-box">
                <label for="first"></label>
                <input type="text" placeholder="First Name" name="first" required>
            </div>
            <div class="input-box">
                <label for="last"></label>
                <input type="text" placeholder="Last Name" name="last" required>
            </div>
            <div class="input-box">
                <label for="email"></label>
                <input type="text" placeholder="Email" name="email" required>
            </div>
            <div class="input-box">
                <label for="password"></label>
                <input type="password" placeholder="Password" name="password" required>
            </div>
            <div class="input-box">
                <label for="confirmPassword"></label>
                <input type="password" placeholder="Confirm Password" name="confirmPassword" required>
            </div>
            <div class="checkbox">
                <input id="student" name="userType" value="student" type="radio">
                <label for="student">Student</label>
                <input id="professor" name="userType" value="professor" type="radio">
                <label for="professor">Professor</label>
                <input id="admin" name="userType" value="admin" type="radio">
                <label for="admin">Admin</label>
            </div>
            <p class="error"> <%= valid %> </p>
            <button type="submit" class="signupbtn">Sign Up</button>
        </form>
        <a class="cancelbtn" onclick="location.href='/'">Cancel</a>
    </div>
</body>

</html>