<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/css/student_course_nav.css" rel="stylesheet">
    <link href="/css/student_course.css"rel="stylesheet">
    <title>Chalkboard</title>
</head>

<body>
    <%- include('../partials/student_header', {courseid}); %>
    <div class="upcoming">
        <div class ="name">
            <h1>Feed</h1>
        </div>
        <div class ="upcoming-items">
            <% if(assignment !=null) { 
                assignment.forEach(function(assignment) { %>
                <div class="item">
                    <div class="prof">
                        <%= assignment.title %>
                    </div>
                    <div class="prof">Due Date: <%= assignment.duedate %></div>
                    <span>
                        <%= assignment.instruction %>
                    </span>
                </div>
            <% }) } %>
        </div>
    </div>
</body>

</html>