<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="css/student_course_nav.css" rel="stylesheet">
    <link href="css/student_assignment.css" rel="stylesheet">
    <title>Chalkboard</title>
</head>

<body>
    <%- include('../partials/student_header') %>
    <div class="assignments">
        <div class="name">
            <h1>Assignments</h1>
        </div>
        <div class="assignment-items">
            <a onclick="location.href='/student_work'" class="work">
                <div class="item">
                    <div class="assignement">
                        Assignment 1
                    </div>
                    <span>
                        Hello
                    </span>
                </div>
            </a>
            <a onclick="location.href='/student_work'" class="work">
                <div class="item">
                    <div class="assignement">
                        Assignment 2
                    </div>
                    <span>
                        HeHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHello
                        HelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHello
                    </span>
                </div>
            </a>
        </div>
    </div>
</body>

</html>