<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Chalkboard</title>
    <link href="css/student_course_nav.css" rel="stylesheet">
    <link href="css/student_textbook.css" rel="stylesheet">
</head>

<body>
    <%- include('../partials/student_header') %>
    <div class="textbooks">
        <div class="name">
            <h1>Textbook</h1>
        </div>
        <div class="textbook-items">
            <div class="item">
                <span>
                    Textbook 1
                </span>
                <a class ="link">https://www.google.com/</a>
            </div>
            <div class="item">
                <span>
                    Textbook 2
                </span>
                <a class="link">https://www.google.com/</a>
            </div>
        </div>
    </div>
</body>