<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="css/student_course_nav.css" rel="stylesheet">
    <link href="css/student_course.css"rel="stylesheet">
    <title>Chalkboard</title>
</head>

<body>
    <%- include('../partials/student_header') %> 
    <div class="upcoming">
        <div class ="name">
            <h1>Upcoming</h1>
        </div>
        <div class ="upcoming-items">
            <div class = "item">
                <div class="prof">
                    Professor1
                </div>
                <span>
                    Hello
                </span>
            </div>
            <div class="item">
                <div class = "prof">
                    Professor 2
                </div>
                <span>
                    HeHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHello HelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHello
                </span>
            </div>
        </div>
    </div>
</body>

</html>