<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="css/student_course_nav.css" rel="stylesheet">
    <link href="css/student_video.css" rel="stylesheet">
    <title>Chalkboard</title>
</head>

<body>
    <%- include('../partials/student_header') %>
    <div class="videos">
        <div class="video-items">
            <div class="item">
                <div class="video-title">
                    Video1
                </div>
                <span class="desc">
                    asdadsdd
                </span>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JfVOs4VSpmA" frameborder="0"
                    allowfullscreen></iframe>
                </iframe>
            </div>
            <div class="item">
                <div class="video-title">
                    Video2
                </div>
                <span class="desc">
                    dadsd
                </span>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JfVOs4VSpmA" frameborder="0"
                    allowfullscreen></iframe>
                </iframe>
            </div>
        </div>
    </div>
</body>

</html>