<header>
    <nav>
        <div class="prof-nav">
            <div class="nav-1">
                <h1 class="chalkboard">Chalkboard Professor</h1>
            </div>
            <div class="nav-2">
                <div class="list">
                    <a href="/course/<%- courseid %>">Recent</a>
                </div>
                <div class="list">
                    <a href="/course/<%- courseid %>/assignments">Assignment</a>
                </div>
                <!-- <div class="list">
                    <a onclick="location.href='professor_textbook'">TextBook</a>
                </div>
                <div class="list">
                    <a onclick="location.href='professor_video'">Video</a>
                </div>
                <div class="list">
                    <a onclick="location.href='professor_lessons'">Lessons</a>
                </div> -->
                <div class="list">
                    <a href="/course/<%- courseid %>/coursemanager">Course Manager</a>
                </div>
            </div>
            <div class="nav-3">
                <div class="leave">
                    <form name="back" method="post" action="/back_professor">
                        <button type="submit">Leave</button>
                    </form>
                </div>
                <div class="imgcontainer">
                    <img src="/img/person-svgrepo-com.svg" alt="Avatar" class="avatar">
                </div>
            </div>
        </div>
    </nav>
</header>