<header>
    <nav>
        <div class="student-nav">
            <div class="nav-1">
                <a onclick="location.href='student_homepage'">
                    <h1 class="chalkboard">Chalkboard Student</h1>
                </a>
            </div>
            <div class="nav-2">
                <div class="list">
                    <a onclick="location.href='student_course'">Recent</a>
                </div>
                <div class="list">
                    <a onclick="location.href='student_assignment'">Assignments</a>
                </div>
                <!-- <div class="list">
                    <a onclick="location.href='student_textbook'">Textbook</a>
                </div>
                <div class="list">
                    <a onclick="location.href='student_video'">Video</a>
                </div>
                <div class="list">
                    <a onclick="location.href='student_lecture'">Lecture</a>
                </div> -->
            </div>
            <div class="nav-3">
                <div class="leave">
                    <form name="back" method="post" action="/back_student">
                        <button type="submit">Leave</button>
                    </form>
                </div>
                <div class="imgcontainer">
                    <img src="img/person-svgrepo-com.svg" alt="Avatar" class="avatar">
                </div>
            </div>
        </div>
    </nav>
</header>