body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  margin: 0 auto;
  max-width: 47.5rem;
  padding: 1.5rem 1.5rem;
}

.name {
  display: flex;
  border-bottom: 1px solid #d91a60;
  height: 4.5rem;
}

.row {
  border-top: 0.0625rem solid #e0e0e0;
  height: 3.75rem;
}

.request {
  margin-bottom: 2rem;
}

.prof {
  margin-bottom: 2rem;
}

.stud {
  margin-bottom: 2rem;
}

.data span {
  font-size: 1rem;
  line-height: 1.25rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1.5rem;
}

.person {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 1.5rem;
}

.buttons button {
  margin-left: 1rem;
}

.kick {
  background-color: #dc3645;
  padding: 8px 15px;
  border-radius: 4px;
  border: 0.0625rem solid #e0e0e0;
  color: white;
}

.deny {
  background-color: #dc3645;
  padding: 8px 15px;
  border-radius: 4px;
  border: 0.0625rem solid #e0e0e0;
  color: white;
}

.accept {
  background-color: #007bff;
  padding: 8px 15px;
  border-radius: 4px;
  border: 0.0625rem solid #e0e0e0;
  color: white;
}

.accept:hover {
  background-color: white; /* Green */
  color: black;
}

.promote {
  background-color: #007bff;
  padding: 8px 15px;
  border-radius: 4px;
  border: 0.0625rem solid #e0e0e0;
  color: white;
}

.delete_button {
  background-color: #dc3645;
  padding: 8px 15px;
  border-radius: 4px;
  border: 0.0625rem solid #e0e0e0;
  color: white;
}
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
