body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.assignment {
  text-align: center;
  justify-content: center;
}

.assignment-items {
  border: none;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  justify-content: center;
  width: calc(100% - 2 * 1.5rem);
  max-width: 62.5rem;
  margin: 0 auto;
}

.item {
  border: 0.0625rem solid #dadce0;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  margin: 1rem;
  border-radius: 0.5rem;
  overflow-wrap: break-word;
  text-align: start;
  padding: 1.5rem;
}

.text {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.item span {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.assignment-post {
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid #dadce0;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  margin: 1rem;
  border-radius: 0.5rem;
  overflow-wrap: break-word;
  text-align: start;
  padding: 1.5rem;
}

.enter-post {
  display: flex;
  justify-content: flex-end;
}

.enter {
  display: flex;
  flex-direction: column;
}

.assignment-page {
  width: 100%;
  height: 5rem;
}

.assignment-title {
  width: 100%;
  margin-bottom: 1rem;
}

.enter-post input {
  background: #1a73e8;
  padding: 8px 15px;
  border-radius: 4px;
  border: 0.0625rem solid #e0e0e0;
  color: white;
  cursor: pointer;
}

.delete {
  background: red;
  padding: 8px 15px;
  border-radius: 4px;
  border: 0.0625rem solid #e0e0e0;
  color: white;
  cursor: pointer;
  margin-bottom: 1rem;
}

.due-date {
  margin-bottom: 1rem;
  width: fit-content;
}

.item:hover {
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 40%);
}

.question-page {
  width: 100%;
  margin-bottom: 1rem;
}

.add-question input {
  background: #1a73e8;
  padding: 8px 15px;
  border-radius: 4px;
  border: 0.0625rem solid #e0e0e0;
  color: white;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.due {
  display: block;
}
