body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.prof-nav {
  border-bottom: 0.0625rem solid #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav-1 {
  width: 50%;
  margin-left: 1rem;
}

.chalkboard a {
  text-decoration: none;
  color: black;
  text-align: start;
  font-weight: 400;
}

.nav-2 {
  position: absolute;
  right: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-right: 1rem;
}

.search {
  margin-right: 1rem;
}

.nav-2 input[type="text"] {
  padding: 6px;
  border: none;
  font-size: 17px;
}

.nav-2 button {
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.plus {
  width: 4rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: relative;
}

.avatar:hover {
  background-color: #e0e0e0;
}

.add {
  margin-right: 2rem;
}

.add img {
  width: 40px;
  height: 40px;
  position: relative;
}

.add:hover {
  background-color: #e0e0e0;
  border-radius: 50px;
  overflow: hidden;
}

.select {
  margin-left: 1rem;
}

.class-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-top: 1rem;
}

.list-class {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border: none;
  margin: 0.0625rem 1.5625rem 1.5625rem 0.0625rem;
  width: 18.75rem;
  overflow: hidden;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.list-class:hover {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 40%);
}

.title {
  background-color: #d91a60;
  padding: 1rem 1rem 0.75rem;
}

.title a {
  color: white;
  text-decoration: none;
}

.title a:hover {
  text-decoration: underline;
}

.class {
  font-size: 1.375rem;
}

.desc {
  padding: 1rem 1rem 0.75rem;
}

.prof {
  font-size: 15px;
}

.leave {
  margin-left: 1rem;
}
