body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.student-nav {
  border-bottom: 0.0625rem solid #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav-1 {
  margin-left: 1rem;
}

.nav-1 a {
  cursor: pointer;
}

.nav-3 {
  right: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-right: 1rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: relative;
}

.avatar:hover {
  background-color: #e0e0e0;
}

.leave {
  margin-right: 2rem;
}

.nav-2 {
  display: flex;
  justify-content: center;
  max-width: 100%;
  white-space: nowrap;
}

.list {
  cursor: pointer;
}

.list a {
  padding: 0.125rem 1.5rem 0;
  text-decoration: none;
  align-items: center;
  display: flex;
  color: black;
  height: 4rem;
}

.nav-2 .list a:hover {
  background-color: #e0e0e0;
}

.leave a button {
  border: 1px solid #dadce0;
  color: #3c4043;
  background-color: #ffffff;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
  float: left;
}
